.workflowTip {
    @media #{$bp-mid-view} {
        padding:0 10%;
    }
    @media #{$bp-wide-view} {
        padding:0 15%;
    }
    @at-root #{&}-title {
        height:2em;
        line-height:2em;
        padding:2.5em 1em 0;
        font-size:1.6em;
        display:block;
        color:$font-color;
        border-bottom:solid 3px $highlight;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        box-sizing:content-box;
    }
    h3 {
        margin-top:2em;
        margin-left:.5em;
    }
    p {
        padding:1em;
    }
    ol,
    ul {
        display:block;
        width:80%;
        margin:0 auto;
        margin-bottom:1em;
    }
    li {
        margin-top:1em;
    }
    a {
        color:$highlight;
        text-decoration:none;
        &:hover,
        &:focus {
            border-bottom:dotted 1px $highlight;
        }
    }
    blockquote {
        text-align:center;
        width:100%;
        font-size:1.2em;
        p::before {
            content:"ProTip:";
            color:$highlight;
        }
    }
    code {
        font-size:.8em;
        padding:.25em .5em;
        background:darken($bkg, 10%);
        font-family: Monaco, "Courier New", monospace;
        border:solid 1px $bkg;
        border-radius:5px;
    }
    footer {
        padding:1.5em 0 .5em;
        &::after {
            content:"";
            clear:both;
        }
    }
}

.editLink {
    float:right;
    padding:.2em .5em;
    text-decoration:none;
    color:$highlight;
    transition:all 200ms linear;
}
.editLink:hover,
.editLink:focus {
    background-color:$highlight;
    color:$font-color--light;
}