.topWrap {
    display:flex;
    justify-content:center;
    background-color:$bkg;
}
.top {
    width:80%;
    margin:0 auto;
    text-align:center; //mobile fallback for flexbox below
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.title {
    width:80vw;
    height:15em;
    margin:5em auto;
    h1 {
        font:0/0 auto;
    }
}
.catch {
    font-size:2em;
    text-align:center;
    font-variant:small-caps;
}
.mainMenu {
    margin:2em auto;
    a {
        display:inline-block;
        width:100%;
        padding:.5em;
        font-size:1.2em;
        text-decoration:none;
        text-align:center;
        font-variant:small-caps;
        color:$highlight--dark;
        &:hover,
        &:focus {
            color:$highlight;
        }
    }
    @media #{$bp-mid-view} {
        width:100%;
        a {
            width:45%;
        }
    }
    @media #{$bp-wide-view} {
        display:flex;
        height:auto;
        flex-direction:row;
    }
    @media #{$tp-wide-view-1} {
        position:sticky;
        top:0;
        background-color:rgba(255,255,255,.8);
        border-bottom:dashed 1px $bkg;
    }
}