            <section class="adviceTxt">
              <p>
                ...and that's just the tip of the iceberg!
              </p>
              <section class="btns-wrap">
                <a class="btn-link--light" href="https://github.com/browserfit" target="_blank">
                  Contribute on Github
                </a>
              </section>
              <p>
                If you urge to go further (and we hope you do!) go to <a class="extLink--light" target="_blank" href="http://bradfrost.github.io/this-is-responsive/">This-is-Responsive</a>, there're plenty of good references there and is also open to contributions!
              </p>
            </section>
            <footer class="bottom">
              <ul>
                <li>Project Development: <a class="extLink--light" target="_blank" href="http://twitter.com/atilafassina">Átila Fassina</a></li>
                <li>Brand Design: <a class="extLink--light" target="_blank" href="http://behance.net/natalialassance">Natalia Lassance</a></li>
                <li>Content: <span class="mainAuthor">You</span></li>
              </ul>
            </footer>
    <script src="/assets/js/main.js"></script>
    </body>
</html>