            <section class="adviceTxt">
              <p>
                ...and that's just the tip of the iceberg!
              </p>
              <section class="btns-wrap">
                <a class="btn-link--light" href="https://github.com/browserfit" target="_blank">
                  Contribute on Github
                </a>
              </section>
              <p>
                If you urge to go further (and we hope you do!) go to <a class="extLink--light" target="_blank" href="http://bradfrost.github.io/this-is-responsive/">This-is-Responsive</a>, there're plenty of good references there and is also open to contributions!
              </p>
            </section>
            <footer class="bottom">
              <ul>
                <li>Project Development: <a class="extLink--light" target="_blank" href="http://twitter.com/atilafassina">Átila Fassina</a></li>
                <li>Brand Design: <a class="extLink--light" target="_blank" href="http://behance.net/natalialassance">Natalia Lassance</a></li>
                <li>Content: <span class="mainAuthor">You</span></li>
              </ul>
            </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.gaaccount }}', '{{ site.domain }}');
  ga('send', 'pageview');

</script>
    </body>
</html>