<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/styles/css/main.css">
    </head>
    <body>
        <header class="topWrap">
            <article class="top">
                <a class="title" href="/">
                    {% include logo.html %}
                    <h1>
                        {{ site.name }}
                    </h1>
                </a>
                <strong class="catch">
                    kickstart your responsive workflow
                </strong>
            </article>
        </header>
        <nav class="mainMenu">
            {% for post in site.posts %}
            <a href="#{{ post.link }}">{{ post.title }}</a>
            {% endfor %}
        </nav>
        <section class="adviceTxt">
            <p>
                Responsive Web Design is one of the trendiest topics regarding web development and design, therefore, it can easily become overwhelming and confusing for one to incorporate it to a workflow. Gether the best practices and managing the demand of growing and on-going projects may be a daunting task at start.
            </p>
            <p>
                That's why BrowserFit is here! It's an open-source guideline that helps you organize your workflow for RWD projects. The idea is to bring all best and freshest practices. From design to deploy. There's no silver bullet, nor yellow brick road here, but you'll find all the tools to decide which approach will suit better for <b>your</b> project
            </p>
        </section>